canvas {
    background: #111;
}

input{
    border: none;
    -webkit-box-shadow: 0 0 0 0 black;
    box-shadow: inset 0 0 1px 1px #080808;
    background-color: #a2a2a2;
    padding: 1px 2px;
    text-shadow: 0.03em 0.03em #848484;
}

.wrapper {
    display: grid;
    grid-template-columns: max-content auto max-content 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px;
    color: white;
    background-color: #111;
}

.toolbar {
    grid-column: 1;
    grid-row: 1;
    padding: 5px 0;
}

.toolbar button {
    padding: 5px 9px;
    font-size: 14px;
    border-radius: 6px;
}

.view {
    grid-column: 1;
    grid-row: 2;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(87, 150, 175);
    box-shadow: 0 0 2px 2px #1d1d1d;
}

.right-side {
    grid-column: 2;
    grid-row: 1fr;
    display: grid;
    grid-gap: 15px;
    padding: 0 10px;
}

.toolbox {
    grid-column: 1;
    grid-row: 1fr;
    border: 1px solid rgb(58, 58, 58);
    box-shadow: 0 0 2px 2px #1d1d1d;
    border-radius: 8px;
}

.toolbox div {
    margin: 5px;
}

.properties {
    grid-column: 1;
    grid-row: 1fr;
    border: 1px solid rgb(58, 58, 58);
    box-shadow: 0 0 2px 2px #1d1d1d;
    border-radius: 8px;
}

.properties div {
    margin: 5px;
}

.statusbar {
    padding: 2px;
    color: #535353;
    font-size: .75em;
    grid-column: 1;
    grid-row: 3;
}

.item {
    width: auto;
    width: auto;
}

.options {
    grid-row: 1;
    grid-column: 2;
    padding: 0 10px;
}

.options div {
    font-size: .85em;
}

.header {
    text-align: left;
    background-color: #535353;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: .05em;
    font-weight: bold;
    background: linear-gradient(to right, rgb(23, 69, 121) 0%, rgba(30, 87, 153, 0.5) 50%, rgba(30, 87, 153, 0) 100%);
    border-bottom: 2px solid white;
    grid-column: 1 / 3;
}

.properties .section {
    display: grid;
    grid-gap: 0px;
    border: 1px solid #111;
    background-color: #3a3a3a;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 8px 1px black inset;
    border: 1px solid #345;
}

.section .title {
    grid-column: 1 / 3;
    border-bottom: 1px solid #222222;
    font-size: .85em;
    text-align: left;
    margin-bottom: 1px;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    box-shadow: inset 0 0 6px 0.08em #080808;
    padding: 5px;
    grid-column-gap: 1px;
    grid-row-gap: .3em;
}

.group div{
    margin: 0;
    /* margin: 0;
    margin-bottom: 1px; */
}

.group .full-row{
    grid-column: 1 / 3;
}

.section .data {
    box-shadow: 0 0 0 0 black;
}

.group input {
    width: 45px;
    height: 15px;
}

.full-row input{
    width: 100%;
    height: 14px;
}

button {
    padding: 7px 15px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    text-shadow: 2px 2px #000;
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 9px 2px black inset;
    border: 1px solid #2e6da1;
    text-align: center;
    outline-style: none;
}

button:hover {
    background-color: rgb(60, 149, 177);
    border: 1px solid #bbbbbb;
    text-shadow: 1px 1px #000;
}

.toolbox button {
    width: 100%;
    text-align: left;
}

.selected {
    border: 1px solid #bd3e3e;
}