<div class="wrapper">
    <div class="container toolbar">
        <button [ngClass]="{'selected': !currentTool}" (click)="setTool('select')">Select</button>
        <!-- <button>Rotate</button> -->
    </div>
    <div class="view">
        <canvas #c id="c" width="601" height="601"></canvas>
    </div>

    <div class="container right-side">
        <div class="toolbox">
            <div class="header">Toolbox</div>
            <div>
                <button [ngClass]="{'selected': currentTool && currentTool.id == 'rectangle' }" (click)="setTool('rectangle')">Rectangle</button>
            </div>

        </div>
        <div class="properties">
            <div class="header">Properties</div>
            <div class="section" *ngIf="selectedShape">
                <div class="title">Position</div>
                <div class="data">X
                    <input type="number" [(ngModel)]="selectedShape.point.x">
                </div>
                <div class="data">Y
                    <input type="number" [(ngModel)]="selectedShape.point.y">
                </div>
            </div>
            <div class="section" *ngIf="selectedShape">
                <div class="title">Size</div>
                <div class="data">W
                    <input type="number" [(ngModel)]="selectedShape.size.width">
                </div>
                <div class="data">H
                    <input type="number" [(ngModel)]="selectedShape.size.height">
                </div>
            </div>

            <div class="section" *ngIf="selectedShape">
                <div class="title">Design</div>
                <div class="data">Fill
                    <input type="color" [(ngModel)]="selectedShape.color">
                </div>
                <div class="data">Border
                    <input type="color" [(ngModel)]="selectedShape.outlineColor">
                </div>
                <div class="data">Alpha
                    <input type="number" min="0" max="1" step="0.01" [(ngModel)]="selectedShape.fillAlpha">
                </div>

                <div class="data">Alpha
                    <input type="number" min="0" max="1" step="0.01" [(ngModel)]="selectedShape.borderAlpha">
                </div>
                <div class="data full-row">Border Thickness
                    <input type="text" [(ngModel)]="selectedShape.lineWidth">
                </div>

            </div>
        </div>
    </div>

    <div class="container statusbar">
        <div class="item">({{pointerLocation.x}}, {{pointerLocation.y}})</div>
    </div>

    <div class="container options">
        <div>
            <div>
                <input [(ngModel)]="trackMouse" type="checkbox" /> Track Mouse
            </div>
            <div>
                <input [(ngModel)]="drawGrid" type="checkbox" /> Show Grid
            </div>
        </div>
    </div>


</div>